<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="AproManager"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".kotlinCode.activities.CardActivity"
            android:exported="false" />


        <activity
            android:name=".kotlinCode.activities.CreateBoardActivity"
            android:label="@string/create_board_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".kotlinCode.activities.CardDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".kotlinCode.activities.MembersActivity"
            android:label="@string/members"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".kotlinCode.activities.MyProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
           />
        <activity
            android:name=".kotlinCode.activities.TaskListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".kotlinCode.activities.BaseActivity"
            android:exported="false" />

        <activity
            android:name=".kotlinCode.dialogs.CreateBoard"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".kotlinCode.activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".javaCode.Activities.SignInActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".javaCode.Activities.SignUpActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".javaCode.Activities.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".kotlinCode.activities.MainActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
    </application>

</manifest>