<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@drawable/ic_stat_ic_notification" />
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_color"
        android:resource="@color/colorAccent" />
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_channel_id"
        android:value="@string/default_notification_channel_id" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="AproManager"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">

        <activity
            android:name=".kotlinCode.activities.CardActivity"
            android:exported="false" />
        <activity
            android:name=".kotlinCode.activities.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".kotlinCode.activities.CreateBoardActivity"
            android:exported="false"
            android:label="@string/create_board_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".kotlinCode.activities.CardDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".kotlinCode.activities.MembersActivity"
            android:label="@string/members"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".kotlinCode.activities.MyProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".kotlinCode.activities.TaskListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".kotlinCode.activities.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".kotlinCode.dialogs.CreateBoard"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".kotlinCode.activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".javaCode.Activities.SignInActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".javaCode.Activities.SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".javaCode.Activities.IntroActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".kotlinCode.activities.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service
            android:name=".kotlinCode.fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>